html {
    height: 100%;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

body {
    background-color: #DADDF5;
}

header {
    background-color: #2B273D;
}

ul {
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    display: inline;
    margin: 20px;
}

.style {
    text-align: left;
}

main {
    background-color: #B3B1BD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

img {
    width: 500px;
    height: 400px;
}

.shoes1 {
    margin: 0px;
}

.shoes2 {
    margin-left: 300px;
}

.shoes3 {
    margin-left: 600px;
}

footer {
    background-color: #D3D1DE;
    text-align: center;
    color: rgb(40, 40, 43);
    display: inline;
}